@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Patrick+Hand');

body {
  background-color: #e6ffff;
  color: #1339a4;
  font-family: 'Coming Soon', 'Comic Neue', 'Comic Sans', cursive;;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.title, .viewcount {
  font-family: 'Patrick Hand';
}

.viewcount {
  font-size: 22px;
}

small {
  font-size: .5em;
  vertical-align: super;
}

header {
  font-size: 32px;
}

.neckdown {
  display: flex;
}

.main {
  width: 70%;
}

.sidebar {
  width: 30%;
}
